$bg-1: #420039;
$bg-2: #D5CFBB;
$bg-3: #C2BDAB;
$bg-4: #4C4A44;
$text-color: #00E19D;
$text-color-light: #faf3dd;
$link-color: black;
$link-color-hover: #4C4A44;
$link-color-light: white;
$link-color-light-hover: #D5CFBB;