
// Main Pallete
$color_eggshell: #FEFAE0;
$color_light_green: #606C38;
$color_dark_green: #283618;
$color_dark_purple: #271404;
$color_orange: #AE620B;
$color_red: #822808;


// Hover colors
$color_eggshell_hover: #F7F3D9;
$color_light_green_hover: #808C50;
$color_dark_green_hover: #374920;
$color_dark_purple_hover: #93460D;
$color_orange_hover: #CE6D0D;
$color_red_hover: #D84416;
