@font-face {
    font-family: inconsolata;
    src: url(../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
  }

  @font-face {
    font-family: DMMono;
    src: url(../fonts/DM_Mono/DMMono-Regular.ttf);
  }