section {

    padding-top: 75px;
    padding-bottom: 75px;

    @media (min-width: 992px) {
        
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &.header {
        @media (min-width: 992px) {
        padding-top: 150px;
        }
        background-color: $color_light_green;

        b {
            color: $color_dark_green;
        }

        h1 {
            color: $color_eggshell;
            margin-bottom: 3rem;
        }

        p {
            margin-bottom: 3rem;
            color: $color_eggshell;
        }
    }

    &.discover {
        background-color: $color_eggshell;

        h2 {
            color: $color_light_green;
            margin-bottom: 2rem;
            font-size: 40px;

            &.underline {
                padding-bottom: 1.5rem;
                border-bottom: 3px solid $color_light_green;
                max-width: fit-content;
            }
        }

        h3 {
            color: $color_light_green;
            margin-bottom: 2rem;

        }

        p {
            color: $color_light_green;
            margin-bottom: 0;
        }
    }

    &.job-role {
        background-color: $color_light_green;
        h2 {
            color: $color_eggshell;
            margin-bottom: 2rem;

            &.underline {
                padding-bottom: 1.5rem;
                border-bottom: 3px solid $color_eggshell;
                max-width: fit-content;
            }
        }

        p {
            margin-bottom: 2rem;
            color: $color_eggshell;
        }
    }

    &.recent-work {
        background-color: $color_eggshell;

        h2 {
            color: $color_light_green;
            margin-bottom: 3rem;
        }

        p {
            color: $color_light_green;
        }
        .work-item {
            margin-bottom: 2rem;
            p {
                text-align: center;
            }

            h3 {
                text-align: center;
                color: $color_light_green;
                font-weight: 600;
            }

            a {
                display: block;
                text-align: center;
                margin-bottom: 2rem;
            }

            img {
                max-width: 70%;
                display: block;
                margin-bottom: 2rem;
                margin-left: auto;
                margin-right: auto;
            }
        }

    }

}

footer {
    background-color: $color_dark_green;
    padding-top: 30px;
    padding-bottom: 30px;
    p, a {
        text-align: center;
        color: $color_eggshell;
        margin: 0;
    
    }
}