section {

    padding-top: 100px;
    padding-bottom: 100px;

    &.header {
        padding-top: 150px;
        background-color: $color_light_green;

        b {
            color: $color_dark_green;
        }

        h1 {
            color: $color_eggshell;
            margin-bottom: 3rem;
        }

        p {
            margin-bottom: 3rem;
            color: $color_eggshell;
        }
    }

    &.discover {
        background-color: $color_eggshell;

        h2 {
            color: $color_light_green;
            margin-bottom: 2rem;
            font-size: 40px;
        }

        h3 {
            color: $color_light_green;
            margin-bottom: 2rem;

        }

        p {
            color: $color_light_green;
            margin-bottom: 0;
        }
    }

    &.job-role {
        background-color: $color_light_green;
        h2 {
            color: $color_eggshell;
            margin-bottom: 2rem;
        }

        p {
            margin-bottom: 2rem;
            color: $color_eggshell;
        }
    }

    &.recent-work {
        background-color: $color_eggshell;

        h2 {
            color: $color_light_green;
            margin-bottom: 3rem;
        }

        p {
            color: $color_light_green;
        }
        .work-item {
            p {
                text-align: center;
            }

            h3 {
                text-align: center;
                color: $color_light_green;
                font-weight: 600;
            }

            a {
                display: block;
                text-align: center;
                margin-bottom: 2rem;
            }
        }

    }

}

footer {
    background-color: $color_dark_green;
    padding-top: 30px;
    padding-bottom: 30px;
    p, a {
        text-align: center;
        color: $color_eggshell;
        margin: 0;
    
    }
}